<!--// doctype html
// html
//   head
//     meta(name='viewport', content='width=device-width, initial-scale=1.0')
//     title= title
//     link(rel='stylesheet', href='/bootstrap/css/nightly.bootstrap.min.css')
//     link(rel='stylesheet', href='/stylesheets/style.css')
//   body
//    .navbar.navbar-default.navbar-fixed-top
//       .container
//         .navbar-header
//           a.navbar-brand(href='/') GHMonitoring
//           button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
//             span.icon-bar
//             span.icon-bar
//             span.icon-bar
//         #navbar-main.navbar-collapse.collapse
//           ul.nav.navbar-nav
//             li
//               a(href='/about/') About

//     .container
//       block content

//       footer
//         .row
//           .col-xs-12
//             small &copy; Théo Rassat 2020

//     script(src='/javascripts/jquery-3.4.1.min.js')
//     script(src='/bootstrap/js/bootstrap.min.js')
//     // can be used by other templates (autres files utilisera les lignes ci-dessus) 
-->
<div class="container">
  <h1 class="title"> {{pageHeader.title}} </h1>
  <h2 class="subtitle"> {{pageHeader.strapline}}</h2>
</div>

<!--div class="row"-->
<div class="section">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title"> Groupe de capteurs non-confirmés </p>
    </header>
    <div class="card-content">
      <div class="content">
        <ul>
          {{#each sensorGroupsUnconfirmed}}
          <!-- button ? permettre accès tps réel et historique directement depuis l'accueil pour chaque
          todo if name is empty ? -->
          <li> 
            <a class="button is-primary modal-button" href="/setup/{{this.groupId}}"  title="Paramétrer ce groupe de capteurs">
              {{nameOrEmpty this.groupId}}
            </a>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title"> Groupe de capteurs non-confirmés </p>
    </header>
    <div class="card-content">
      <div class="content">
        <ul>
          {{#each sensorGroupsUnconfirmed}}
          <!-- button ? permettre accès tps réel et historique directement depuis l'accueil pour chaque
          todo if name is empty ? -->
          <li> 
            <a class="button is-primary modal-button" href="/setup/{{this.groupId}}"  title="Paramétrer ce groupe de capteurs">
              {{nameOrEmpty this.groupId}}
            </a>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<nav class="level">
  <div class="level-left">
    <div class="level-item">
      <div class="card">
        <header class="card-header">
         <p class="card-header-title"> Groupe de capteurs non-confirmés </p>
        </header>
        <div class="card-content">
          <div class="content">
            <ul>
              {{#each sensorGroupsUnconfirmed}}
              <!-- button ? permettre accès tps réel et historique directement depuis l'accueil pour chaque
              todo if name is empty ? -->
              <li> 
              <a class="button is-primary modal-button" href="/setup/{{this.groupId}}"  title="Paramétrer ce groupe de capteurs">
                {{nameOrEmpty this.groupId}}
              </a>
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="level-item">
      <div class="card">
        <header class="card-header">
         <p class="card-header-title"> Groupe de capteurs nconfirmés </p>
        </header>
        <div class="card-content">
          <div class="content">
            <ul>
              {{#each sensorGroupsConfirmed}}
              <!-- button ? permettre accès tps réel et historique directement depuis l'accueil pour chaque
              todo if name is empty ? -->
              <li> 
              <a class="button is-primary modal-button" href="/setup/{{this.groupId}}"  title="Paramétrer ce groupe de capteurs">
                {{nameOrEmpty this.groupId}}
              </a>
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="level-right">
    <div class="level-item">
      <div class="card">
        <header class="card-header">
         <p class="card-header-title"> Groupe de capteurs non-confirmés </p>
        </header>
        <div class="card-content">
          <div class="content">
            <ul>
              {{#each sensorGroupsUnconfirmed}}
              <!-- button ? permettre accès tps réel et historique directement depuis l'accueil pour chaque
              todo if name is empty ? -->
              <li> 
              <a class="button is-primary modal-button" href="/setup/{{this.groupId}}"  title="Paramétrer ce groupe de capteurs">
                {{nameOrEmpty this.groupId}}
              </a>
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</nav>

  <!-- possiblement bien plus simple de faire une page pour ça et meixu passer les args : ça dans a si jamais data-target="#modalGroupSetup" id="test" -->
<!--div class="modal" id="modalGroupSetup">  
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"> Paramétrage groupe de capteur</p>
      <button class="delete" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class="content">
        <p> My content</p>
      </div>
    </section>
  </div>
</div-->

<!--/div-->
<!--script> 
  var modal = document.getElementById('modalGroupSetup');
  var btn = document.getElementById('test') ; 
  var span = document.getElementsByClassName('delete')[0];
  btn.onclick = function () {
    modal.style.display = "block" ;
  }
  span.onclick = function() {
    modal.style.display = "none"; 
  }
  window.onclick = function (event) {
    if (event.target==modal) {
      modal.syle.display = "none";
    }
  }
  
  //$(".modal-button").click(function() {
  //  var target = $(this).data("target");
  //  $("html").addClass("is-clipped");
  //  $(target).addClass("is-active");
  //  });
         
  //$(".modal-close").click(function() {
  //  $("html").removeClass("is-clipped");
  //  $(this).parent().removeClass("is-active");
  //  });
</script-->
{{!-- 
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.3/handlebars.min.js">
</script>

<script id="listSensorgroups" type="text/x-handlebars-template">
  <ul>
    {{#each sensorGroupsUnconfirmed}}
      <li>{{this.name}}</li>
    {{\each}}
  </ul>
</script>

<!--script type="text/javascript">
var source = document.getElementById("listSensorGroups").innerHTML;
  var template = Handlebars.compile(source);
  var context = { title: "My New Post", body: "This is my first post!" };
  var html = template(context); 
</script-->
--}}
