
<div class="container">
  <h1 class="title"> {{pageHeader.title}} </h1>
  <h2 class="subtitle"> {{pageHeader.strapline}}</h2>
</div>
<hr/>
<div class="columns">
  <div class="column is-half">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title"> Groupe de capteurs non-confirmés </p>
      </header>
      <div class="card-content">
        <div class="content">
          <ul>
          {{#each sensorGroupsUnconfirmed}}
            <li> 
              <a class="button is-warning modal-button" href="/setup/{{this.groupId}}"  title="Paramétrer ce groupe de capteurs">
                {{nameOrEmpty this.groupId}}
              </a>
            </li>
          {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-half">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title"> Groupe de capteurs confirmés </p>
      </header>
      <div class="card-content">
        <div class="content">
          <ul>
          {{#each sensorGroupsConfirmed}}
            <li> 
              <a class="button is-primary modal-button" href="/setup/{{this.groupId}}"  title="Paramétrer ce groupe de capteurs">
                {{nameOrEmpty this.name}}
              </a>
              <ul>
              {{#each this.sensors}}
                {{#unless this.confirmed}}
                  <li><span class="tag is-warning"> Capteur {{this.sensorId}} non-confirmé</p>
                  </li>
                {{/unless}}
              {{/each}}
              </ul>
            </li>
          {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>