<div class="container">
  <h1 class="title"> {{pageHeader.title}} </h1>
  <h2 class="subtitle">  Groupe de capteurs : {{group.name}} ; Timezone : {{group.tz}}</h2>
</div>
<hr/>

{{#each sensDatas}}
  {{#each this.sensInfos}}
    {{this}}
  {{/each}} 
  {{#each this.datasTime}}
    {{this}}
  {{/each}} 
{{/each}}

{{#each sensDatas}} 
  <div class="columns">
  {{#each this}}
    <div class="column is-half">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Capteur : {{this.sensInfos.name}}
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <p> Métrique : {{this.sensInfos.metric}} en {{this.sensInfos.unit}}
            </p>
            <div class="field">
              <label class="label" for="daterange{{this.sensInfos.id}}">Période d'affichage :
              </label>
              <div class="control">
                <div class="select">
                  <select id="daterange{{this.sensInfos.id}}">
                    <option value="day" selected>Dernière 24heures</option>
                    <option value="week">Derniere semaine</option>
                    <option value="month">Dernier mois</option>
                    <option value="year">Dernière année</option>
                    <option value="ever">Depuis le début des mesures</option>
                  </select> 
                </div>
              </div>
            </div>
          </div>
          <div class="box" id="chartContainer{{this.sensInfos.id}}">
            
          </div>
        </div>

      </div>
    {{#each this.sensInfos}}
      {{this}}
    {{/each}}
    {{#each this.datasTime}}
      {{this}}
    {{/each}}
    </div>
  {{/each}}
  </div>
{{/each}}

<script type="text/javascript" >
  console.log("{{sensDatas.sensInfos}}");
  var group = '{{group}}'
  console.log(group)
  console.log(document)
 // var sensDatas = {{{sensDatas}}} ; 

  for (var i=0; i<sensDatas.length;i++) {
    console.log(sensDatas[i])
  }
  console.log(sensDatas)
  console.log(sensDatas.length)
  console.log(sensDatas[0][0].sensInfos)
  console.log(sensDatas.datasTime)
// recup sensor id ::: ou tricky par les elements 
// Mais récupèrer mes données aussi ici .. 
// axios au final ? 
// hiding it ? 

function createConfig(position) {
    return {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
              //  label: 'My First dataset',
                borderColor: 'red',
                backgroundColor: 'green',
                data: [],
                fill: false,
            }
            ]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: ' Todo titre'
            },
            tooltips: {
                position: position,
                mode: 'index',
                intersect: false,
            },
            scales: {
                yAxes: [{
                    ticks: {
                       beginAtZero: true // if we want to begin y label at 0 (how about negative temp? )
                    }
                }],
                xAxes: [{
                    type: 'time'
                }]
            }
        }
    };
};
</script>