<div id="banner" class="header">
  <div class="row">
    <div class="col-lg-6">
      <h1> {{pageHeader.title}} </h1> 
        <div class="small"> &nbsp; {{pageHeader.strapline}}</div>
    </div>
  </div>
</div>

<div>
     <div>
      <ul> 
      <!-- button ? permettre accès tps réel et historique directement depuis l'accueil pour chaque -->
        <li> {{timezone}}  </li>
        <li> {{groupName}}</li>
        <li> {{sensorId}} </li>
      </ul>
    </div>
    <!-- vh/vw : 1%of the width/height of the viewport
    https://www.chartjs.org/docs/latest/general/responsive.html-->
    <!--form>
      <p> Veuillez sélectionner la période d'affichage des mesures : </p>
      <input type="radio" id="day" name="daterange" value="day">
      <label for="day">Dernières 24 heures </label> 
      <input type="radio" id="month" name="daterange" value="month">
      <label for="month">Dernier mois</label>
      <input type="radio" id="year" name="daterange" value="year">
      <label for="year">Dernière année</label>
      <input type="radio" id="ever" name="daterange" value="ever">
      <label for="ever">Depuis début de mesures</label> <br>
      <input type="submit" value="Soumettre">
    </form-->
  <!-- todo improvement : permettre aussi à l'utilisateur de choisir 2 dates (au bon format) -->
    <label for="daterange">Période d'affichage :</label>
    <select id="daterange" >
      <option value="day">Dernière 24heures</option>
      <option value="week">Derniere semaine</option>
      <option value="month">Dernier mois</option>
      <option value="year">Dernière année</option>
      <option value="ever">Depuis le début des mesures</option>
    </select> 

    <!--div class="chart-container" style="position: relative; height:10vh; width:20vw"> 
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>
        <script>
         /* console.log({{datas}});
          console.log("//");
          var glob = {{datas}};
          console.log(glob);
          console.log("//"); */
        </script-->
</div>                
<div class="main-chart-container">
</div>

<!--script src="/javascripts/moment.min.js"></script
REFERENCE IN HEAD SCRIPT ? todo -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<!--script
            src="https://code.jquery.com/jquery-3.5.0.min.js"
            integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
            crossorigin="anonymous"></script-->
            <!-- using axios test --> 
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/javascripts/vanilla.js"></script>

<!--script type="text/javascript"> 
const sensor = {{sensorId}}; 
 </script-->
<script type="text/javascript" src="/javascripts/history.js" sensorId={{sensorId}} timezone={{timezone}}></script>