<div id="banner" class="header">
  <div class="row">
    <div class="col-lg-6">
      <h1> {{pageHeader.title}} </h1> 
        <div class="small"> &nbsp; {{pageHeader.strapline}}</div>
    </div>
  </div>
</div>

<div>
    <h1 class="test">Test</h1>
    <button> Click me </button>
    <canvas id="myChart" width="400" height="400"></canvas>
        <script>
         /* console.log({{datas}});
          console.log("//");
          var glob = {{datas}};
          console.log(glob);
          console.log("//"); */
        </script>
      <ul> 
      <!-- button ? permettre accès tps réel et historique directement depuis l'accueil pour chaque -->
        <li> {{timezone}}  </li>
        <li> {{groupName}}</li>
        <li> {{sensorId}} </li>
   </ul>
</div>                

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script
            src="https://code.jquery.com/jquery-3.5.0.min.js"
            integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
            crossorigin="anonymous"></script>
            <!-- using axios test --> 
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/javascripts/history.js" timezone={{timezone}}></script>