<div class="container">
  <h1 class="title"> {{pageHeader.title}} </h1>
  <h2 class="subtitle"> {{pageHeader.strapline}}</h2>
</div>

<hr/>

{{#if errors}}
  <div class="box container notification is-danger">
    <ul>
    {{#each errors}}
      <li> {{this.message}} </li> 
    {{/each}}
    </ul>
  </div>
{{/if}}

<div class="container">
  {{#each sensorGroupsList}}
  <div class="level"> 
    {{#each this}}
      <div class="level-item">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Nom du groupe : &nbsp; <b> {{this.name}} </b>
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <p> Métriques des capteurs disponibles : </p>
              <ul>
              {{#each this.sensors}}
                {{#if this.confirmed}}
                <li>{{this.metric}}</li>
                {{else}}
                <li> Capteur non-confirmé</li>
                {{/if}}
              {{/each}}
              </ul>
            </div>
          </div>
          <div class="card-footer">
            <a href="/live/{{this.groupId}}" class="card-footer-item"> Données en temps réel </a>
            <a href="/historic/{{this.groupId}}" class="card-footer-item"> Historiques des données </a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  {{/each}}
</div>