<!-- JADE FILE, moving to Handlebars -->
extends layout
block content
  #banner.page.header
    .row
      .col-lg-6
        h1= pageHeader.title 
          small &nbsp;#{pageHeader.strapline} 
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-10.col-sm-4.list-group-item
          h4 
            a(href='/historic') Température
          h3 #{datas.temp}°C
        
        .col-xs-10.col-sm-4.list-group-item
          h4 
            a(href='/historic') Humidité relative
          h3 #{datas.rh}%
        .col-xs-10.col-sm-4.list-group-item
          h4 
            a(href='/historic') CO2
            h3 #{datas.co2}ppm
    .col-xs-12.col-sm-4
      p.lead
        | side bar