<div class="container">
  <div class="columns">
    <div class="column is-four-fifths">
      <h1 class="title"> {{pageHeader.title}} </h1>
      <h2 class="subtitle"> {{pageHeader.strapline}}</h2>
    </div>
    <div class="column">
      <a href="/historic/{{groupId}}" class="button is-link is-rounded"> Accès à l'historique</a>
    </div>
  </div>  
</div>
<hr/>
{{#each datasInfo}}
<div class="columns">
  {{#each this}}
  <div class="column is-one-third">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Nom du capteur : {{this.sensName}}
        </p>       
      </header>
      <div class="card-content">
        <div class="content">
          {{#if this.sensConfirmation}}
            <p> Métrique : {{this.sensMetric}}</p>
            {{#if this.sensLastDataValue}}
            <div class="box content is-large">
              <p class="is-large"> {{this.sensLastDataValue}} {{this.sensDataInfos.unit}}
              </p>
            </div>
            <p> {{this.sensLastDataDate}}
            </p>
            {{else}}
            <div class="box">
              <p> Pas de donnée retrouvée
              </p>
            </div>
            {{/if}}
          {{else}}
            <div class="box notification is-warning">
              <p>Capteur non-confirmé </p>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{/each}}