<!--div id="banner" class="header">
  <div class="row">
    <div class="col-lg-6">
      <h1> {{pageHeader.title}} </h1> 
        <div class="small"> &nbsp; {{pageHeader.strapline}}</div>
    </div>
  </div>
</div-->
<div class="container">
  <div class="columns">
    <div class="column is-four-fifths">
      <h1 class="title"> {{pageHeader.title}} </h1>
      <h2 class="subtitle"> {{pageHeader.strapline}}</h2>
    </div>
    <div class="column">
      <a href="/historic/{{groupId}}" class="button is-link is-rounded"> Accès à l'historique</a>
    </div>
  </div>  
</div>
<hr/>
{{#each datasInfo}}
<div class="columns">
  {{#each this}}
  <div class="column is-one-third">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Nom du capteur : {{this.sensName}}
        </p>        <!-- ID ?? -->
      </header>
      <div class="card-content">
        <div class="content">
          {{#if this.sensConfirmation}}
            <p> Métrique : {{this.sensMetric}}</p>
            {{#if this.sensLastDataValue}}
            <div class="box content is-large">
              <p class="is-large"> {{this.sensLastDataValue}} {{this.sensDataInfos.unit}}
              </p>
            </div>
            <p> {{this.sensLastDataDate}}
            </p>
            {{else}}
            <div class="box">
              <p> Pas de donnée retrouvée
              </p>
            </div>
            {{/if}}
          {{else}}
            <div class="box notification is-warning">
              <p>Capteur non-confirmé </p>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{/each}}

  {{!-- {{#each datasInfo}}
  <div class="level">
    {{#each this}}
    <div class="level-item">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Nom du capteur : {{this.sensName}}
          </p>        <!-- ID ?? -->
        </header>
        <div class="card-content">
          <div class="content">
            {{#if this.sensConfirmation}}
              <p> Métrique : {{this.sensMetric}}</p>
            <div class="box">
              <p> {{this.sensLastDataValue}} {{this.sensData.unit}}</p>
              <p> {{this.sensLastDataDate}}</p>
            </div>
            {{else}}
              <div class="box notification is-warning">
                <p>Capteur non-confirmé </p>
              </div>
            {{/if}}
          </div>
        </div>

      </div>
    </div>
    {{/each}}
  </div>
  {{/each}} --}}


